# FarmX AI Environment Variables
# ------------------------------------------------------------
# Replace with your MongoDB Atlas or local MongoDB connection URI:
# Example: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=

# Database Name
DATABASE_NAME=farmx_agrilink_db

# JWT Security
SECRET_KEY=farmx-secret-super-key-2026-sih-ai-smart-market
ACCESS_TOKEN_EXPIRE_MINUTES=10080
